<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django_Forms</title>
</head>
<body>
    <hr>
    <center>
    <h1><tt>Complete Product Details</tt></h1>
    </center>
    <hr>
    <br>
    <fieldset>
        <legend>Product Details</legend>
        <center>
            <form action="" method="post">
                {% csrf_token %}
                {{data.as_p}}
                <input type="submit" value="ADD_PRODUCT">
            </form>
        </center>
    </fieldset>
    
</body>
</html>