<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Application</title>
</head>

<body>
    <hr>
    <h1><tt>Student_Information</tt></h1>
    <hr>
    <br>
    <fieldset>
        <legend>Student_Information</legend>
        <center>
            <table border="3">
                <tr>
                    <th>Id</th>
                    <th>Sid</th>
                    <th>Sname</th>
                    <th>Marks</th>
                </tr>
                {% for o1 in obj1%}
                <tr>
                    <td>{{o1.id}}</td>
                    <td>{{o1.Sid}}</td>
                    <td>{{o1.Sname}}</td>
                    <td>{{o1.Marks}}</td>
                </tr>
                {% endfor%}

            </table>
        </center>
    </fieldset>
</body>

</html>